gunicorn
eventlet
tensorflow==2.5
tensorflow-cpu==2.4.0
keras==2.4.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
flatbuffers==1.12
numpy
Pillow==7.0.0
opencv-python-headless
torch==1.9.0
Keras-Applications==1.0.8
keras-nightly
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
psutil