gunicorn
eventlet
tensorflow==2.3.1
tensorflow-gpu
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
flatbuffers==1.12
numpy
Pillow==7.0.0
opencv-python
torch==1.9.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
psutil